.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-top: 45px;
}
.header__logo {
  max-width: 173px;
  height:33px;
  padding-bottom: 41px;
  padding-left:27px;
}
@media screen and (max-width: 620px) {
  .header {
    margin-top: 28px;
  }
  .header__logo{
    padding-bottom: 32px;
    max-width:126px;
    height:24px;
  }
}
