@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
/*page block*/
.page {
  background-color:#000;
  color:#fff;
  font-family:'Inter',Arial, Helvetica, sans-serif;
}
.page__content{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    margin-top:45px;
    max-width:880px;
    margin:0 auto;
}
.page__section{
    max-width:880px;
    margin:0 auto;
    width:100%;
    position:relative;
}
/*header block*/
.header{
    border-bottom: 1px solid #545454;
    margin-top:45px;
}
.header__logo{
    max-width: 173px;
    max-height:74px;
    padding-bottom:41px;
}

/*profile*/
.profile{
    display:flex;
    align-items:center;
    padding-top:40px;
}
.profile__info{
    display:grid;
    grid-template-areas:
        "title button"
        "description description";

    grid-template-columns: minmax(auto, 373px) auto;
    grid-gap:9px 17px;
}
.profile__title{
    font-size:42px;
    font-style:normal;
    font-weight:500;
    line-height: 48px;
    margin:0;
    grid-area:title;

}
.profile__description{
    font-size: 18px;
    line-height:22px;
    font-weight:400;
    grid-area:description;

    margin:0;
}
.profile__edit-button{
    background: transparent url(../images/edit-button.svg) center no-repeat;
    width: 24px;
    height:24px;
    grid-area:button;
    border:1px solid #fff;
    align-self:center;

}
.profile__add-button{
    background: transparent url(../images/add-button.svg) center no-repeat;
    width: 150px;
    height: 50px;
    margin-left:auto;
    border:2px solid #fff;
}
.profile__photo{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    background-position:center;
    margin-right:24px;
}
/*cards*/
.cards{
/*font*/
}
.card__list{
    display:grid;
    justify-content:center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap:20px 17px;
    justify-content:center;
    padding:0;
    margin:0;
}
.card{
    list-style-type: none;
    display:flex;
    flex-direction:column;
}
.card__image{
    width:282px;
    height:282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card__description{
    display:flex;
    background-color:#fff;
    color:black;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:20px;
    padding-right:20px;
    align-items: center;
    justify-content:space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card__like-button{
    background: transparent url("../images/heart-icon.svg") center no-repeat;
    width:21px;
    height:18px;
    border:none;
}